* {
    box-sizing: border-box;
}

:root {
    --font-heading: 'Sen', sans-serif;
    --primary-color: #FFB900
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: 'Poppins', sans-serif;

}

/* Common */
a {
    text-decoration: none;
}

.main-content {
    width: 1170px;
    margin-left: auto;
    margin-right: auto;
    max-width: calc(100% - 48px)
}

.btn {
    display: inline-block;
    min-width: 118px;
    padding: 0 16px;
    line-height: 50px;
    background: #171100;
    border-radius: 999px;
    font-size: 1.6rem;
    text-align: center;
    font-weight: 600;
    color: #FFFFFF;

}

.btn:hover {
    opacity: 0.9;
    cursor: pointer;
}

.heading {
    font-family: var(--font-heading);
    font-weight: 700;
    letter-spacing: -0.02em;
    color: #171100;

}

.heading.lv1 {
    font-size: 5.8rem;
    line-height: 1.17;
}

.heading.lv2 {
    font-size: 3.8rem;
    line-height: 1.26;
}

/* Header */
.header {
    background: #FFFCF4;
}

.header.fixed {
    position: sticky;
    top: -28px;
    z-index: 1;
}

.header .body {
    display: flex;
    align-items: center;
    padding: 36px 0 8px;
}

.nav {
    margin-left: auto;
}

.nav ul {
    display: flex;
}

.nav a {
    position: relative;
    padding: 8px 21px;
    font-size: 1.6rem;
    color: #5F5B53;
}

.nav a:hover,
.nav li.active a {
    /* font-weight: 600; */
    text-shadow: 1px 0 0 currentColor;
    color: #171100;
}

.nav li.active a::after {
    content: "";
    display: inline-block;
    position: absolute;
    left: 21px;
    bottom: 6px;
    width: 12px;
    height: 2px;
    border-radius: 1px;
    background: #171100;

}

.header .sign-up-btn {
    min-width: 144px;
}

.header .action {
    margin-left: 49px;
}

/* Hero */
.hero {
    padding: 56px 0 65px;
    background-color: #FFFCF4;
}

.hero .body {
    display: flex;
    align-items: center;
}

.hero .media-block {
    position: relative;
    width: 48%;
}



.hero .media-block .img {
    width: 470px;
    height: 685px;
    object-fit: cover;
    border-radius: 20px;
    display: block;
}

.hero-summary {
    position: absolute;
    bottom: 48px;
    right: 0;
    width: 270px;
    border-radius: 12px;
    background: #FFFFFF;
    box-shadow: 0px 16px 32px 0px #0000000D;
    padding: 24px;
}

.hero-summary .item {
    display: flex;
    align-items: center;
    gap: 16px;
}

.hero-summary .item+.item {
    margin-top: 14px;
}

.hero-summary .item .icon {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background: #FFF9E8;
    display: flex;
    align-items: center;
    justify-content: center;

}

.hero-summary .item:nth-of-type(2) .icon {
    background: #FCEFFF;
}

.hero-summary .item:nth-of-type(3) .icon {
    background: #EBEAFF;
}

.hero-summary .label {
    font-size: 1.4rem;
    line-height: 1.86;
    color: #5F5B53;
}

.hero-summary .title {
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67;
    color: #171100;
}

/* Hero right */
.hero .content-block {
    width: 52%;
    padding-left: 130px;
}



.hero .desc {
    margin-top: 22px;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #5F5B53;

}

.hero .cta-group {
    margin: 38px 0 48px 0;
    display: flex;
    align-items: center;
    gap: 28px;
}

.hero-cta {
    background: var(--primary-color);
    line-height: 64px;
    min-width: 180px;

}

.hero .watch-video {
    border: none;
    display: flex;
    align-items: center;
    background: transparent;
    gap: 14px;
    cursor: pointer;
}

.hero .watch-video .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #FFFFFF;
    box-shadow: 0px 8px 16px 0px #00000012;

}

.hero .watch-video span {
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.6;
    color: #171100;

}

.hero .stats {
    margin: 8px 0 0 -28px;
}

.hero .stats strong {
    padding: 0 8px 0 28px;
    font-family: var(--font-heading);
    font-size: 4.4rem;
    font-weight: 700;
    line-height: 1.23;
    color: #171100;

}

/* Popular */
.popular {
    padding: 65px 0;
    margin-top: 135px;
}

.popular-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.popular-top .desc {
    margin-top: 16px;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #5F5B53;
    width: 458px;

}

.popular-top .controls {
    display: flex;
    gap: 18px;
}

.popular-top .control-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: var(--primary-color);
    background: #FFFFFF;
    border: 1px solid var(--primary-color)
}

.popular-top .control-btn:hover {
    cursor: pointer;
    background: var(--primary-color);
    color: #fff;
}

/* List course */

.popular .list-course {
    margin-top: 55px;
    display: flex;
    gap: 30px;
}

.popular .course-item {
    flex: 1;
    border: 1px solid #E2DFDA;
    background: #fff;
    border-radius: 12px;
}

.popular .course-item:hover {
    border-color: transparent;
    box-shadow: 0px 18px 36px 0px #0000000D;

}

.popular .course-item .thumb {
    margin: -1px;
    width: calc(100% + 2px);
    height: 278px;
    object-fit: cover;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.popular .course-item .info {
    padding: 16px 22px 22px;
}

.popular .course-item .foot,
.popular .course-item .head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.popular .course-item .title a {
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67;
    color: #171100;

}

.popular .course-item .rating {
    display: flex;
    align-items: center;
    gap: 6px
}

.popular .rating .value {
    font-size: 1.6rem;
    line-height: 1.75;
    color: #FEA31B;
}

.popular .course-item .desc {
    margin-top: 6px;
    font-size: 1.4rem;
    line-height: 1.85;
    color: #5F5B53;

}
.popular .course-item .foot {
    margin-top: 12px;
}
.popular .course-item .price {
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67;
    color: #171100;
}
.popular .course-item .book-btn {
    border: none;
}
.popular .course-item .book-btn:hover {
    background: var(--primary-color);
    color: #fff;
}